<div class="nav-main">
    <div class="container">
        <ul>
            <li class="active"><a href="category.html">Dress-up</a></li>
            <li><a href="category.html">Get in shape</a></li>
            <li><a href="category.html">Extreme experaince</a></li>
            <li><a href="category.html">Pamper yourself</a></li>
            <li><a href="category.html">Other Shopping</a></li>
            <li><a class="link" target="_blank" href="https://maltamenu.com.mt/"><img src="images/dark-malta.svg"></a></li>
        </ul>
    </div>
</div>