$font_family: 'Open Sans', Arial, Helvetica, sans-serif;
$color_white: #ffffff;
$color_black: #000000;
$color_gray_1: #333333;
$color_green_1: #74B842;
$color_green_2: #7ED321;
$color_red_1: #ed1e79;//genesis
$color_yellow_1: #ffdd2b;
$color_blue_1: #13c6ca;
$color_blue_2: #003F5E;//english first
$color_text:#9B9B9B;
$color_title:$color_black;

$bg_footer:#fffaed;
$bg_gray:#f2f2f2;

$border_color_1:#F0F0F0;
$border_color_2:#979797;

body{
  font-family: $font_family;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: normal;
  background-color: $color_white;
  min-height: 400px;
  min-width: 320px;
  color: $color_text;
}
html,body{
  width: 100%;
}
input,button,textarea,select{
  font-family:$font_family;
  font-size: 14px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
img{
  vertical-align: top;
  max-width: 100%;
}
a{
  cursor: pointer;
  color: $color_black;
  text-decoration: none;
  @include web_transition(all .2s ease-in-out);
  &:hover{
    color: $color_text;
  }
}
.under a, a.under{
  text-decoration: underline;
}
.under a:hover, a.under:hover{
  text-decoration: none;
}
b, .bold{
  font-weight: bold;
}
i,.italic{
  font-style: italic;
}
.upper{
  text-transform: uppercase;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
h1, .h1{
  font-size: 40px;
}
h2, .h2{
  font-size: 30px;
}
h3, .h3{
  font-size: 20px;
}
h4, .h4{
  font-size: 16px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  font-weight: normal;
  line-height: 1.2;
  color: $color_title;
  margin-bottom: 0.75em;
}
.dotted{
  border-bottom: 1px dotted;
}
.dashed{
  border-bottom: 1px dashed;
}
.super{
  vertical-align: super;
  font-size: 11px;
}
.caret{
  color: inherit;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  display: block;
  width: 0;
  height: 0;
}
.box-inline{
  display: inline-block;
  vertical-align: top;
}
.btn{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  background:none;
  cursor: pointer;
  @include web_transition(all 0.2s ease-in-out);
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.flexible{
  @include block_flex;
  @include flex_justify_between;
}
/*colors*/
.grey{
  color: $color_gray_1;
}
.black{
  color: $color_black;
}
.white{
  color: $color_white;
}
.blue{
  color: $color_blue_1;
}
.red{
  color: $color_red_1;
}
.yellow{
  color: $color_yellow_1;
}
.green{
  color: $color_green_1;
}

/*CONTENT*/
html,
body{
  position: relative;
}
.wrapper{
  width: 100%;
  position: relative;
}
.main{
  overflow-y: visible;
  overflow-x: hidden;
}