.btn{
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  padding:5px 10px;
  line-height: normal;
  border-radius: 4px;
  position: relative;
  border:2px solid;
  cursor: pointer;
  &-sm{
    font-size: 12px;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
  &-full{
    width: 100%;
  }
  &.disabled,
  &:disabled{
    background: #e0e0e5;
    color:$color_gray_1;
  }
  &-lg{
    min-width: 270px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &-border{
    border:2px solid $color_text;
    padding: .429em 1.15em;
    border-radius: 18px;
    .icon-right{
      margin-left: 1em;
    }
  }
  &-success{
    background: $color_green_1;
    color: $color_white;
    border-color: $color_green_1;
    font-size: 16px;
    line-height: 1.2;
    &:hover{
      background: $color_white;
      color: $color_green_1;
    }
  }
  &-action{
    background: $color_gray_1;
    border-color: $color_gray_1;
    color: $color_white;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 18px;
    &:hover{
      background: $color_white!important;
      color: $color_gray_1;
    }
    &.selected{
      background: #f3f3f3!important;
      border-color: #f3f3f3!important;
      color: $color_black!important;
    }
  }
  &-menu{
    border: 0;
    padding: 10px 15px;
    line-height: 2px;
    text-align: right;
    width: 52px;
    .icon-bar{
      display: inline-block;
      vertical-align: top;
      background: $color_black;
      width: 22px;
      height: 2px;
      @include web_transition(all .2s ease-in-out);
      &+.icon-bar{
        margin-top: 5px;
      }
    }
    &.open{
      .icon-bar{
        &:first-child {
          @include web_transform(translateY(7px) rotate(45deg));
          width: 100%;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          @include web_transform(translateY(-7px) rotate(-45deg));
          width: 100%;
        }
      }
    }
  }
}
.link{
  display: inline-block;
  vertical-align: top;
  &-underline{
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  &-download{
    span{
      border-bottom: 1px dashed;
    }
  }
}