.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 0.5em;
  }
  &-right{
    margin-left:0.5em;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
  &-logout{
    height: 13px;
    width: 13px;
    background-image:url("../images/icon/logout.svg");
  }
  &-balance{
    height: 31px;	width: 35px;
    background-image:url("../images/icon/ballance.svg");
  }
  &-download{
    height: 25px;	width: 25px;
    background-image:url("../images/icon/download.svg");
  }
  &-cta-malta{
    height: 44px;
    width: 70px;
    background-image:url("../images/cta-malta.png");
  }
  &-cta-online{
    height: 44px;
    width: 70px;
    background-image:url("../images/cta-online.png");
  }
  &-card-cc{
    height: 29px;	width: 47px;	border-radius: 3px;
    background-image:url("../images/card/cc.png");
  }
  &-card-mmc{
    height: 29px;	width: 47px;	border-radius: 3px;
    background-image:url("../images/card/mmc.png");
  }
  &-card-mmt{
    height: 29px;	width: 47px;	border-radius: 3px;
    background-image:url("../images/card/mmt.png");
  }
  &-clock{
    width: 10px;
    height: 10px;
    background-image:url("../images/icon/clock.svg");
  }
  &-plus{
    width: 14px;
    height: 14px;
    font-size: 25px;
    line-height: 10px;
  }
}