.nav{
  &-main{
    background: $bg_gray;
    font-size: 16px;
    margin-bottom: 2.5em;
    a{
      display: block;
      padding: 1.75em 0.75em 1.25em;
      border-bottom: 6px solid transparent;
      opacity: 0.5;
      text-decoration: underline;
      &:hover{
        opacity: 0.99;
        color: $color_black;
        text-decoration: none;
      }

    }
    .link{
      opacity: 0.99;
      line-height: 2.5em;
      padding-top: 1.125em;
      padding-bottom: 0.75em;
      img{
        height: 2.5em;
      }
    }
    li{
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
      &.active{
        a{
          border-bottom-color: $color_text;
          opacity: 0.99;
          text-decoration: none;
        }
      }
    }
  }
}
@media(max-width: 980px) {
  .nav-main{
    margin-bottom: 1.5em;
    ul{
      @include block_flex;
      @include flex_justify_between;
    }
    li{
      margin: 0;
      a{
        font-size: 14px;
        line-height: 1;
        padding: 1.25em 0.5em 1em;
      }
      .link{
        padding-top: 0.4em;
        padding-bottom: .35em;
      }
    }
  }
}
@media(max-width: 720px) {
  .nav-main{
    margin-bottom: 1.5em;
    ul{
      display: block;
      white-space: nowrap;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }
    .container{
      padding: 0;
    }
    li{
      margin-left: 20px;
      &:last-child{
        margin-right: 20px;
      }
    }
  }
}