table{
  width: 100%;
  color: $color_black;
  th{
    color: $color_black;
    text-align: left;
    font-weight: bold;
  }
  td{
    vertical-align: middle;
  }
  th,td{
    padding: 12px 6px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
  tbody>tr+tr{
    border-top:1px solid $border_color_1;
  }
  .cell{
    &-name{
      width: 20%;
    }
    &-offer{
      text-align: right;
    }
  }
}
