.gs{
  .btn-menu .icon-bar{background:$color_red_1;}
  .btn-border{border-color: $color_red_1;}
  .btn-action{
    background: $color_red_1;
    border-color: $color_red_1;
    &:hover{
      color: $color_red_1;
    }
  }
  .nav-main li.active a{border-color: $color_red_1;}
  .icon-download{background-image:url("../images/icon/download-gs.svg");}
  .icon-balance{background-image:url("../images/icon/ballance-gs.svg");}
  .category-item_offer-links .link:after,
  .category-item_offer-links .link:hover{border-color: $color_red_1;}
}
.ef{
  .btn-menu .icon-bar{background:$color_blue_2;}
  .btn-border{border-color: $color_blue_2;}
  .btn-action{
    background: $color_blue_2;border-color: $color_blue_2;
    &:hover{
      color: $color_blue_2;
    }
  }
  .nav-main li.active a{border-color: $color_blue_2;}
  .icon-download{background-image:url("../images/icon/download-ef.svg");}
  .icon-balance{background-image:url("../images/icon/ballance-ef.svg");}
  .category-item_offer-links .link:after,
  .category-item_offer-links .link:hover{border-color: $color_blue_2;}
}