<div class="category">
    <div class="container">
        <div class="category-list">
            <div class="category-list_item">
                <div class="category-list_item-image">
                    <div class="image" style="background-image: url('images/img.jpg')"></div>
                </div>
                <div class="category-list_item-text">
                    <div class="name">Myoka Spas</div>
                    <div class="address">Dragonara Road St. Julian's MT STJ, 3143, St Julian's</div>
                    <div class="title">
                        Ayurveda De-Stress
                    </div>
                    <div class="text">
                        Traditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa Facilities
                    </div>
                </div>
                <div class="category-list_item-action">
                    <div class="card-link">
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-cc"></i></a>
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-mmc"></i></a>
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-mmt"></i></a>
                    </div>
                    <div class="price">From <span class="price_value">€79.95</span></div>
                    <a class="btn btn-action" href="cat-item.html">Choose your offer</a>
                </div>
            </div>
            <div class="category-list_item">
                <div class="category-list_item-image">
                    <div class="image" style="background-image: url('images/img.jpg')"></div>
                </div>
                <div class="category-list_item-text">
                    <div class="name">Holistic Journey</div>
                    <div class="address">Dragonara Road St. Julian's MT STJ, 3143, St Julian's</div>
                    <div class="title">
                        Massage - Simply Healthy By Mel
                    </div>
                    <div class="text">
                        Oriental Head Massage, Feet Reflexology, Shiatsu Massaging, Heating Pillow and AromatherapOriental Head Massage, Feet Reflexology, Shiatsu Massaging, Heating Pillow and AromatherapOriental Head Massage, Feet Reflexology, Shiatsu Massaging, Heating Pillow and AromatherapOriental Head Massage, Feet Reflexology, Shiatsu Massaging, Heating Pillow and AromatherapOriental Head Massage, Feet Reflexology, Shiatsu Massaging, Heating Pillow and AromatherapOriental Head Massage, Feet Reflexology, Shiatsu Massaging, Heating Pillow and AromatherapOriental Head Massage, Feet Reflexology, Shiatsu Massaging, Heating Pillow and AromatherapOriental Head Massage, Feet Reflexology.
                    </div>
                </div>
                <div class="category-list_item-action">
                    <div class="card-link">
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-mmc"></i></a>
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-mmt"></i></a>
                    </div>
                    <div class="price">From <span class="price_value">€79.95</span></div>
                    <a class="btn btn-action" href="cat-item.html">Choose your offer</a>
                </div>
            </div>
            <div class="category-list_item">
                <div class="category-list_item-image">
                    <div class="image" style="background-image: url('images/img.jpg')"></div>
                </div>
                <div class="category-list_item-text">
                    <div class="name">Myoka Spas</div>
                    <div class="address">Dragonara Road St. Julian's MT STJ, 3143, St Julian's</div>
                    <div class="title">
                        Ayurveda De-Stress
                    </div>
                    <div class="text">
                        Traditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa Facilities
                    </div>
                </div>
                <div class="category-list_item-action">
                    <div class="card-link">
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-cc"></i></a>
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-mmc"></i></a>
                        <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-card-mmt"></i></a>
                    </div>
                    <div class="price">From <span class="price_value">€79.95</span></div>
                    <a class="btn btn-action" href="cat-item.html">Choose your offer</a>
                </div>
            </div>
        </div>
    </div>
</div>