<div class="category">
    <div class="container">
        <h2>Take advantage of many discounts on the leading shops on the island</h2>
        <div class="category-table">
            <table>
                <thead>
                <tr>
                    <th class="cell-name">Shop name</th><th>Outlet Locations</th><th class="cell-offer">Offer</th><th></th><th>How to Purchase</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">10% discount</a></td>
                    <td class="cell-pdf"><a class="link link-download"><i class="icon icon-download"></i><span>PDF</span></a></td>
                    <td class="cell-link">
                        <div class="cta-link">
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-malta"></i></a>
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-online"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">5% discount</a></td>
                    <td class="cell-pdf"><a class="link link-download"><i class="icon icon-download"></i><span>PDF</span></a></td>
                    <td class="cell-link">
                        <div class="cta-link">
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-online"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">90% discount</a></td>
                    <td class="cell-pdf"><a class="link link-download"><i class="icon icon-download"></i><span>PDF</span></a></td>
                    <td class="cell-link">
                        <div class="cta-link">
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-malta"></i></a>
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-online"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">10% discount</a></td>
                    <td class="cell-pdf"><a class="link link-download"><i class="icon icon-download"></i><span>PDF</span></a></td>
                    <td class="cell-link">
                        <div class="cta-link">
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-malta"></i></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">5% discount</a></td>
                    <td class="cell-pdf"><a class="link link-download"><i class="icon icon-download"></i><span>PDF</span></a></td>
                    <td class="cell-link"></td>
                </tr>
                <tr>
                    <td class="cell-name">Terranova</td><td><div class="name-mobile">Terranova</div>Iklin, baystreet, Valletta, Fgura, St Venera and Tigne Point</td>
                    <td class="cell-offer"><a data-toggle="modal" data-target="#discount" class="btn btn-success">90% discount</a></td>
                    <td class="cell-pdf"><a class="link link-download"><i class="icon icon-download"></i><span>PDF</span></a></td>
                    <td class="cell-link">
                        <div class="cta-link">
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-malta"></i></a>
                            <a data-toggle="modal" data-target="#discount" class="link"><i class="icon icon-cta-online"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>