.category{
  &-table{
    .btn-success{
      text-align: right;
      min-width: 124px;
    }
    .name-mobile{
      display: none;
      font-weight: bold;
      margin-bottom: 5px;
      font-size: 14px;
    }
    .cell-link{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  .link-download{
    white-space: nowrap;
  }
  .cta-link{
    .link{
      margin: 5px 0;
      &:first-child{
        margin-right: 5px;
      }
    }
  }
  &-list{
    &_item{
      @include block_flex;
      @include flex_justify_between;
      padding: 30px;
      color: $color_black;
      border: 2px solid #E5E5E5;
      margin-bottom: 30px;
      .image{
        width: 230px;
        height: 165px;
        background-repeat: no-repeat;
        -webkit-background-size:cover;
        background-size:cover;
        -ms-background-size:cover;
      }
      .name{
        font-size: 30px;
        color: $color_black;
        line-height: 1;
      }
      .address{
        color: #9B9B9B;
        margin-top: 20px;
        padding-left: 15px;
        background: url("../images/icon/pointer.svg") no-repeat left 5px;
      }
      .title{
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      &-image{
        margin-right: 30px;
      }
      &-action{
        margin-left: 50px;
        .card-link{
          @include flex_justify_end;
          @include block_flex;
          @include flex_wrap;
          .link+.link{
            margin-left: 3px;
          }
        }
        .btn-action{
          min-width: 180px;
        }
        text-align: right;
        .price{
          margin-top: 20px;
          margin-bottom:30px;
          font-size: 16px;
          color: #9B9B9B;
          line-height: 20px;
          &_value{
            font-size: 20px;
            font-weight: bold;
            color: $color_green_1;
          }
        }
      }
    }
  }
  &-item{
    margin-top: 30px;
    &_desc{
      border-bottom: 2px solid #E5E5E5;
      padding-bottom: 30px;
      @include block_flex;
      @include flex_wrap;
      .name{
        font-size: 30px;
        color: $color_black;
      }
      .image{
        width: 300px;
        height: 200px;
        background-repeat: no-repeat;
        -webkit-background-size:cover;
        background-size:cover;
        -ms-background-size:cover;
      }
      .address{
        color: #9B9B9B;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 15px;
        background: url("../images/icon/pointer.svg") no-repeat left 5px;
      }
      .card{
        color: $color_black;
        line-height: 30px;
        margin-top: 7px;
        margin-right: 30px;
        display: inline-block;
        vertical-align: top;
        .icon{
          margin-right: 7px;
        }
      }
      &-image{
        max-width: 40%;
        padding-right: 30px;
        .image{
          max-width: 100%;
        }
      }
      &-text{
        max-width: 60%;
      }
    }
    &_offer{
      border-bottom: 2px solid #E5E5E5;
      @include block_flex;
      @include flex_justify_between;
      @include flex_wrap;
      padding: 30px 0;
      .title{
        color: $color_black;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .text{
        color: $color_black;
      }
      &-text{
        width: 50%;
      }
      &-price{
        text-align: right;
        width: 15%;
        .price{
          font-size: 20px;
          font-weight: bold;
          color: $color_green_1;
          margin-top: 5px;
        }
      }
      &-action{
        width: 20%;
        text-align: right;
        padding-top: 10px;
      }
      &-links{
        @include flex_col_full;
        @include block_flex;
        @include flex_justify_between;
        padding-top: 50px;
        .link{
          width: 31%;
          padding: 17px 15px;
          border: 2px solid #E5E5E5;
          font-size: 16px;	font-weight: bold;
          color: $color_black;
          line-height: 40px;
          .icon{
            height: 40px;
            width: 63px;
            margin-right: 12px;
          }
          &:hover{
            border-color: $color_gray_1;
          }
        }
      }
    }
  }
}
@media(max-width: 940px) {
  .category{
    h2{
      font-size: 20px;
    }
    &-table{
      margin-top: 0;
      table{
        font-size: 14px;
      }
    }
    &-list{
      &_item{
        @include flex_wrap;
        font-size: 14px;
        .name{
          font-size: 20px;
        }
        &-image{
          padding-right: 30px;
          margin: 0;
          width: 30%;
          .image{
            max-width: 100%;
          }
        }
        &-text{
          width: 70%;
        }
        &-action{
          @include flex_col_full;
          margin-left: 0;
          @include block_flex;
          @include flex_justify_between;
          margin-top: 30px;
          .price{
            margin: 0;
            line-height: 35px;
          }
        }
      }
    }
    &-item{
      font-size: 14px;
      &_offer{
        padding: 20px 0;
        &-links{
          .link{
            font-size: 14px;
            line-height: 30px;
            .icon{
              height: 29px;
              width: 47px;
            }
          }

        }
      }
    }
  }
}
@media(max-width: 767px) {
  .category{
    &-list{
      margin: 0 -15px;
      &_item{
        padding: 0;
        display: block;
        position: relative;
        margin-bottom: 15px;
        &-image{
          width: auto;
          margin: -2px;
          padding: 0;
          .image{
            width: 100%;
            height: 200px;
          }
        }
        &-text{
          padding: 18px;
          width: 100%;
        }
        &-action{
          margin: 0;
          padding: 0 18px 18px;
          .price{
            font-size: 14px;
            &_value{
              font-size: 16px;
            }
          }
          .btn-action{
            min-width: 165px;
          }
          .card-link{
            position: absolute;
            top:0;
            right: 0;
            margin: 5px;
            background: rgba($color_white,0.3);
            border-radius: 4px;
            padding: 3px;
          }
        }
        .title,
        .address{
          margin-top: 15px;
        }
      }
    }
    &-item{
      margin: 7px -15px 0;
      &_desc{
        padding: 0;
        display: block;
        position: relative;
        &-image{
          padding: 0;
          max-width: 100%;
          .image{
            width: 100%;
            height: 200px;
          }
        }
        &-text{
          padding: 18px 5px;
          max-width: 100%;
          .name{
            font-size: 20px;
            line-height: 1;
          }
          .address{
            margin: 15px 0;
          }
        }
        .card-link{
          position: absolute;
          top:0;
          right: 0;
          margin: 7px;
          background: rgba($color_white,0.3);
          border-radius: 4px;
          padding: 3px;
          font-size: 0;
          .label{
            display: none;
          }
          .card{
            margin: 0;
            &+.card{
              margin-left: 3px;
            }
            .icon{
              margin-right: 0;
            }
          }
        }
      }
      &_offer{
        padding: 18px 5px;
        &-text{
          @include flex_col_full;
          padding-bottom: 15px;
        }
        &-price{
          width: 30%;
          text-align: left;
          .price{
            font-size: 16px;
            margin-top: 5px;
          }
        }
        &-action{
          width: 40%;
          .btn-action{
            min-width: 100px;
          }
        }
        &-links{
          @include flex_wrap;
          padding-top: 30px;
          .link{
            padding: 13px;
            width: 100%;
            margin-top: 10px;
            position: relative;
            &:after{
              width: 5px;
              height: 5px;
              @include web_transform(rotate(-45deg));
              border-right: 2px solid $color_gray_1;
              border-bottom: 2px solid $color_gray_1;
              position: absolute;
              content: '';
              top:50%;
              margin-top: -3px;
              right: 20px;
            }
          }
        }
      }
    }
  }
}
@media(max-width: 560px) {
  .category{
    h2{
      font-size: 16px;
    }
    &-table{
      table{
        font-size: 12px;
        .cell-name{
          display: none;
        }
        .name-mobile{
          display: block;
        }
      }
    }
  }
}
@media(max-width: 400px) {
  .category{
    &-table{
      table{
        thead{
          display: none;
        }
       td{
         display: block;
         padding-left: 0;
         padding-right: 0;
       }
        .cell-offer{
          text-align: left;
          padding: 0;
        }
        .cell-pdf{
          width: 40%;
          float: left;
          text-align: left;
        }
        .cell-link{
          width: 60%;
          float: left;
          text-align: right;
        }
        .link-download{
          font-size: 16px;
          margin-top: 3px;
        }
      }
    }
  }
}