<div class="category">
    <div class="container">
        <div class="category-item">
            <div class="category-item_desc">
                <div class="category-item_desc-image">
                    <div class="image" style="background-image: url('images/img.jpg')"></div>
                </div>
                <div class="category-item_desc-text">
                    <div class="name">Myoka Spas</div>
                    <div class="address">Dragonara Road St. Julian's MT STJ, 3143, St Julian's</div>
                    <div class="card-link">
                        <div class="label">Available payment methods:</div>
                        <a class="link card" ><i class="icon icon-card-mmc"></i>MaltaMenu Card</a>
                        <a class="link card" ><i class="icon icon-card-mmt"></i>MaltaMenu Transfer</a>
                        <a class="link card" ><i class="icon icon-card-cc"></i>Credit card</a>
                    </div>
                </div>
            </div>
            <div class="category-item_offer">
                <div class="category-item_offer-text">
                    <div class="title">
                        Ayurveda De-Stress
                    </div>
                    <div class="text">
                        Traditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa Facilities
                    </div>
                </div>
                <div class="category-item_offer-price">Discount <div class="price">-10%</div></div>
                <div class="category-item_offer-price">Your price <div class="price">€79.95</div></div>
                <div class="category-item_offer-action"><a class="btn btn-action" href="/">I’ll buy</a></div>
            </div>
            <div class="category-item_offer">
                <div class="category-item_offer-text">
                    <div class="title">
                        Ayurveda De-Stress
                    </div>
                    <div class="text">
                        Traditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa FacilitiesTraditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa FacilitiesTraditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa FacilitiesTraditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa Facilities
                    </div>
                </div>
                <div class="category-item_offer-price">Discount <div class="price">-10%</div></div>
                <div class="category-item_offer-price">Your price <div class="price">€79.95</div></div>
                <div class="category-item_offer-action"><a class="btn btn-action" href="/">I’ll buy</a></div>
            </div>
            <div class="category-item_offer">
                <div class="category-item_offer-text">
                    <div class="title">
                        Ayurveda De-Stress
                    </div>
                    <div class="text">
                        Traditional Indian Body Massage, Rejuvenating Face Mask and Massage, Use of Spa Facilities
                    </div>
                </div>
                <div class="category-item_offer-price">Discount <div class="price">-10%</div></div>
                <div class="category-item_offer-price">Your price <div class="price">€79.95</div></div>

                <div class="category-item_offer-action"><a class="btn btn-action selected" href="/">I’ll buy</a></div>

                <div class="category-item_offer-links">
                    <a class="link"><i class="icon icon-card-mmc"></i>MaltaMenu Card</a>
                    <a class="link"><i class="icon icon-card-mmt"></i>MaltaMenu Transfer</a>
                    <a class="link"><i class="icon icon-card-cc"></i>Credit card</a>
                </div>
            </div>
        </div>
    </div>
</div>