            <div class="footer-line"></div>
            <div class="footer-contact">
                <div class="footer-contact_item">Any issues? Call us on: <span class="value"><a href="tel:+356 27761311">+356 27761311</a></span></div>
                <div class="footer-contact_item">Call center working hours: <span class="value">8 am - 11 pm</span></div>
            </div>
            <div class="footer-copy">© 2018 Genesis, All rights reserved</div>
