    <footer class="footer">
        <div class="container">
            <div class="footer-logo"><img src="images/logo-ef.png" alt=""></div>
            {% include "blocks/footer/_content.html" %}
        </div>
    </footer>

