<div class="projects">
    <div class="container">
        <h2>Special Offers of the week</h2>
        <div class="projects-content">
            <div class="projects-content-list">
                <div class="projects_item">
                    <div class="image"><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
                <div class="projects_item">
                    <div class="image"><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
                <div class="projects_item">
                    <div class="image"><div class="label">Tranding</div><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
                <div class="projects_item">
                    <div class="image"><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
                <div class="projects_item">
                    <div class="image"><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
                <div class="projects_item">
                    <div class="image"><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
                <div class="projects_item">
                    <div class="image"><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
                <div class="projects_item">
                    <div class="image"><img src="images/img.jpg" alt=""></div>
                     <div class="name">Up to 73% off Brazilian or Holywood</div>
                     <div class="text">
                         Dabiela Beautu Care Clinic
                         Convert Garden, London •  1.1 km
                     </div>
                </div>
            </div>
            <div class="projects-content-baner">
                <img src="images/baner.png" alt="">
            </div>
        </div>
    </div>
</div>