header{
  text-align: center;
}
.header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  line-height: 75px;
  z-index: 10;
  padding: 0;
  background: $color-white;
  border-bottom: 1px solid $border_color_1;
  &~.main{
    padding-top: 75px;
  }
  &-logo{
    text-transform: uppercase;
    font-size: 20px;
    img{
      vertical-align: middle;
      margin-top: -7px;
    }
  }
  &-balance{
    line-height: normal;
    background: #FBFBFB;
    font-size: 12px;
    position: relative;
    text-align: left;
    color: $color_black;
    @include block_flex;
    @include flex_justify_between;
    margin: 3px 0;
    .balance{
      font-size: 18px;
      font-weight: bold;
      line-height: 1;
    }
    width: 320px;
    padding:17px 15px 17px 73px;
    .box-icon{
      position: absolute;
      left:20px;
      top:50%;
      @include web_transform(translateY(-50%));
    }
  }
  &-intro{
    line-height: normal;
    padding: 20px 25px;
    font-size: 12px;
    text-align: left;
    color: $color_text;
    .name{
      font-size: 16px;
      line-height: 1.125;
      color: $color_title;
    }
  }
  &-nav{
    ul{
      position: relative;
      @include flex_justify_end;
      @include block_flex;
    }
    li{
      font-size: 16px;
      @include block_flex;
      @include flex_align_item_center;
      a{
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
  &-logout{
    margin-left: 15px;
  }
  &-contact{
    line-height: normal;
    padding-right:25px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    .label{
      font-size: 12px;
      color: $color_text;
    }
    .value{
      font-size: 16px;
      line-height: 1.125;
      color: $color_title;
      a{
        color: inherit;
      }
    }
  }
  &-menu{
    line-height: normal;
    display: none;
    .btn-menu{
      margin-top: 10px;
      margin-right: -15px;
    }
  }
}
@media(max-width: 1040px) {
  .header{
    &-nav{
      li{
        margin: 0 10px;
      }
    }
  }
}
@media(min-width: 941px) {
  .header-nav{
    display: block!important;
  }
}
@media(max-width: 980px) {
  .header{
    line-height: 57px;
    &~.main{
      padding-top: 57px;
    }
    &-logo{
      z-index: 11;
      img{
        height: 35px;
      }
    }
    &-nav{
      display: none;
      position: fixed;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      padding-top: 70px;
      line-height: 38px;
      z-index: 9;
      background: $color-white;
      li{
        display: block;
        margin: 0;
      }
    }
    &-menu{
      z-index: 11;
      display: block;
      .btn-border{
        min-width: 145px;
      }
    }
    &-nav{
      ul{
        @include flex_wrap;
        li{
          width: 100%;
          margin: 10px 0;
        }
      }
    }
    &-contact{
      @include block_flex;
      @include flex_wrap;
      @include flex_justify_center;
      line-height: 20px;
      text-align: center;
      padding: 0;
      .value{
        line-height: inherit;
        margin-left: 20px;
      }
      .label{
        &:last-child{
          @include flex_col_full;
        }
      }
    }
    &-balance{
      margin: 0 auto;
    }
    &-logout{
      margin: 0;
    }
  }
  .menu-open{
    overflow: hidden;
    .header-logo{
      opacity: 0.99!important;
    }
  }

}
