<header class="header">
    <div class="container">
        <div class="flexible">
            <a class="header-logo" href="https://maltamenu.com.mt/"><img src="images/logo.png" alt="genesis"></a>
            {% include "blocks/header/_user-nav.html" %}
        </div>
    </div>
</header>