<div class="header-nav">
    <ul class="nav">
        <li>
            <div class="header-contact">
                <div class="label">Any issues? Call us on:</div>
                <div class="value"><a href="tel:+356 27761311">+356 27761311</a></div>
                <div class="label"><i class="icon icon-clock icon-middle"></i>  8AM - 11PM</div>
            </div>
        </li>
        <li>
            <div class="header-balance">
                <div class="header-balance_content">
                <div class="box-icon"><i class="icon icon-balance"></i></div>
                Your balance:
                <div class="balance">€ 100,00</div>
                </div>
                <a class="btn btn-action"><i class="icon icon-plus icon-middle icon-left">+</i>TOPUP</a>
            </div>
        </li>
        <li><a class="btn btn-border header-logout" href="#"><span class="name">Logout</span><i class="icon icon-right icon-middle icon-logout"></i></a></li>
    </ul>
</div>
<div class="header-menu">
    <a class="btn btn-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
</div>